<?xml version="1.0" encoding="UTF-8"?>
<configuraation scan="true" scanPeriod="30 seconds">
	<property name="LOG_DIR" value="./log" />
	<property name="FILE_NAME" value="test.log" />
	<property name="FILE_SIZE" value="1MB" />
	<property name="FILE_COUNT" value="30" />
	<property name="PATTERN"
		value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%thread] %logger{36} : %msg%n" />

	<!-- cosole -->
	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
	</appender>

	<!-- rolling file -->
	<appender name="ROLLING_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--file>./log/app.log</file -->
		<file>${LOG_DIR}/${FILE_NAME}</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/${FILE_NAME}.%d{yyyy-MM-dd}.%i
			</fileNamePattern>
			<maxFileSize>${FILE_SIZE}</maxFileSize>
			<maxHistory>${FILE_COUNT}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
	</appender>

	<root level="WARN">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="ROLLING_FILE" />
	</root>
</configuraation>