<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style></style>
    <script src="/js/easyspub/js_2.js"></script>
</head>

<body>
    <header>
        <a href="/easyspub/main">
            <h1 id="top">back main</h1>
        </a>
        <hr>
    </header>

    <section>
        <h3>2023.06.30</h3>
        <h3>새로고침 할때 마다 배경색 랜덤하게 변경하기</h3>
    </section>

    <footer>
        <hr>
        <a href="/easyspub/main">
            <h1 id="top">back main</h1>
        </a>
    </footer>
</body>

</html>