<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>js_ex</title>

    <style>
        #heading{
            color: blue;
        }
        #text{
            color: gray;
            font-size: 15px;
        }
    </style>
</head>
<body>
    <header>
        <a href="/easyspub/main">
            <h1 id="top">back main</h1>
        </a>
        <hr>
    </header>

    <section>
        <h3>2023.06.27</h3>
        <h1 id="heading">자바스크립트</h1>
        <p id="text">위 텍스트를 클릭해 보세요.</p>
    </section>
    <hr>

    <section>
        <h3>2023.06.28</h3>
        <h3>버튼 이벤트 테스트 1</h3>
        <ul>
            <li><a href="#" onclick="changeColor_1('green')">Green</a></li>
            <li><a href="#" onclick="changeColor_1('orange')">Orange</a></li>
            <li><a href="#" onclick="changeColor_1('purple')">Purple</a></li>
        </ul>
        <div id="bg" style="width: 300px; height: 40px; background-color: white; border: 1px solid black;"></div>

        <h3>버튼 이벤트 테스트 2</h3>
        <button id="change">글자색변경</button>
        <p id="test2">OptaPlanner solves planning problems. This lightweight, embeddable planning engine implements powerful and scalable algorithms to optimize business resource..</p>
    </section>
    
    <footer>
        <a href="/easyspub/main">
            <h1 id="top">back main</h1>
        </a>
    </footer>

    <script src="/js/easyspub/js_ex.js"></script>
    <!-- <script>
        //alert("알림 확인");
        //confirm("확인, 취소 선택");
        //prompt("정보를 입력하세요");
        //document.write("브라우저에 표시");
        //console.log("log write");
    </script> -->
</body>
</html>


