<!DOCTYPE html>
<!-- <html xmlns:th="http://www.thymeleaf.org"> -->
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>easyspub-main</title>
	
	<style>
	</style>

</head>

<body>
	<a href="/home"><h1 id="top">back main</h1></a>
	<hr>
	<br />

	<div>
		<h1>사이트 링크</h1>
		<a href="https://www.youtube.com/@easyspub/featured" target="_blank"><h1>youtube easyspub</h1></a>
		<a href="http://www.easyspub.co.kr/Main/pub" target="_blank"><h1>web easyspub</h1></a>
		
	</div>
	<br />

	<div>
		<h1>easyspub 링크</h1>
		<a href="/easyspub/html"><h2>html</h2></a> 
		<a href="/easyspub/css"><h2>css</h2></a>
		<a href="/easyspub/viewport"><h2>viewport</h2></a>
		<a href="/easyspub/flex"><h2>flex</h2></a>
		<a href="/easyspub/grid"><h2>grid</h2></a>
		<a href="/easyspub/js_ex"><h2>js_ex</h2></a>
		<a href="/easyspub/js_1"><h2>js_1</h2></a>
		<a href="/easyspub/js_2"><h2>js_2</h2></a>
	</div>
	<hr>

	<a href="/home"><h1 id="top">back main</h1></a>

</body>

</html>