<!DOCTYPE html>
<!-- <html xmlns:th="http://www.thymeleaf.org"> -->
<html>

<head>
	<meta charset="UTF-8">
	<title>newlecture-html</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<style>

	</style>
</head>

<body>
	<a href="/newlecture/main"><h1 id="top">back main</h1></a>
	<hr>
	
	<p>
		<h1>newlecture-html</h1>
	</p>
	<hr>

	<div>
		<h2>레이아웃, 시멘틱</h2>
	</div>
	<hr>

	<div>
		<h2>선택자, selector</h2>
		tag: 태그명 그대로, h1<br>
		class: 점으로 표시, .클래스명<br>
		id: #으로 표시, #id명<br>
		<h2>콤비네이션</h2>
		A B: tag, class, id 일 수 있음<br>
		Descendant selector: 자손, A B<br>
		Child selector: 자식, A > B<br>
		Adjacent Sibling selector: 이웃한, A + B<br>
		General Sibling selector: 이웃들, A ~ B<br>
	</div>
	<hr>

	<a href="/newlecture/main"><h1 id="top">back main</h1></a>

</body>

</html>