<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- 
    <link href="/static/css/newlecture/reset.css" rel="stylesheet" type="text/css"> 
    -->
    <link href="/static/css/newlecture/layout.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <h2>sticky :: html layout은 static하게 쌓인다.</h2>
        <h2>sticky :: 전체 행(수평, width)을 사용하고</h2>
        <h2>sticky :: 행의 높이는 content에 따라간다.</h2>
    </header>

    <br>

    <section id="s1">
        <h1>포지션 : absolute</h1>
        <ul>
            <li>absolute :: 1111</li>
            <li>absolute :: 2222</li>
            <li>absolute :: 3333</li>
            <li>자신의 위치가 이동되고 나머지가 정렬</li>
            <li>부모에 relative을 주면 그 영역안에서 이동</li>
        </ul>
    </section>

    <br>

    <section id="s2">
        <h1>포지션 : relative</h1>
        <ul>
            <li>relative :: 1111</li>
            <li>relative :: 2222</li>
            <li>relative :: 3333</li>
            <li>자신의 위치는 남겨두고 이동</li>
        </ul>
    </section>

    <br>

    <section id="s3">
        <h1>포지션 : fixed</h1>
        <ul>
            <li>fixed :: 1111</li>
            <li>fixed :: 2222</li>
            <li>fixed :: 3333</li>
            <li>absolute와 비슷한데 페이지 기준이 아니라 화면 기준으로 고정된 영역에 존재</li>
            <li>화면의 최상단에 위치하게 되고 아래 컨텐츠를 가리게 됨</li>
            <li>부모에 relative을 줘도 무시하고 적용</li>
        </ul>
    </section>

    <br>

    <section id="s4">
        <h1>포지션 : sticky</h1>
        <ul>
            <li>sticky :: 1111</li>
            <li>sticky :: 2222</li>
            <li>sticky :: 3333</li>
            <li>absolute와 비슷한데 페이지 기준이 아니라 화면 기준으로 고정된 영역에 존재</li>
            <li>fixed와 달리 아래 컨텐츠를 가리지 않고 fixed의 기능과 동일하게 적용</li>
            <li>화면의 최상단에 위치하게 되고 아래 컨텐츠를 가리게 됨</li>
            <li>absolute가 있다면 가려지는 현상이 있네</li>
            <li>주로 모바일 화면에서 사용함</li>
        </ul>
    </section>

    <!-- scroll 영역 만들기 -->
    scroll make <br>
    scroll make <br>
    scroll make <br>
    scroll make <br>
    scroll make <br>
    scroll make <br>
    scroll make <br>
    scroll make <br>
    scroll make <br>
    scroll make <br>
    scroll make <br>
    scroll make <br>
    scroll make <br>
    scroll make <br>
    scroll make <br>
    scroll make <br>
    scroll make <br>
    scroll make <br>
    scroll make <br>
    scroll make <br>
    scroll make <br>
    scroll make <br>
    scroll make <br>
    scroll make <br>
    scroll make <br>
    scroll make <br>

</body>

</html>