<!DOCTYPE html>
<!-- <html xmlns:th="http://www.thymeleaf.org"> -->
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>newlecture-main</title>
		
	<style>
	</style>
	
</head>

<body>
	<a href="/home"><h1 id="top">back main</h1></a>
	<hr>
	
	<br/>
	<div>
	<h1>사이트 링크</h1>
	<a href="https://www.youtube.com/@newlec1/featured" target="_blank"><h1>youtube newlecture</h1></a>
	</div>	
	<br/>
	
	<div>
		<h1>newlecture 링크</h1>
		<a href="/newlecture/html"><h2>html</h2></a>
		<a href="/newlecture/css"><h2>css</h2></a>
		<a href="/newlecture/position"><h2>position</h2></a>
		<a href="/newlecture/layout"><h2>layout</h2></a>
	</div>
	<hr>	

	<a href="/home"><h1 id="top">back main</h1></a>

</body>

</html>